
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
/* Variables */
$color-principal: #F8EFD4;

@mixin colorParrafo {
  color: #22333B;
}

@mixin colorTitulo {
  color: #0b1d25;
}


body {
    background-color: #EAE0D5;
    font-family: 'Ubuntu', sans-serif;
  }
  
  header {
    background-color: #5E503F;
  }
  
  .nombreLogo {
    color: $color-principal;
    font-size: larger;
    text-decoration: none;
    &:hover {
      color: #22333B;
      
    }
  }
  
  .nav-link {
    color: $color-principal;
    &:hover {
      color: #22333B;
      
    }
  }


  
  .footer-basic {
    padding: 79px;
    background-color: #5e503f;
    color: #4b4c4d;
  
    ul {
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 0;
    }
  
    li {
      padding: 0 10px;
    }
  
    ul a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;
  
      &:hover {
        opacity: 1;
        
      }
    }
  
    .copyright {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
      color: #aaa;
      margin-bottom: 0;
    }
  }
  
  .nombre {
    margin-top: -10px;
  }
  
  .social {
    display: flex;
  
    a {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #22333B;
      border-radius: 50%;
      margin: 22px 10px;
      color: white;
      text-decoration: none;
      font-size: 20px;
  
      &:hover {
        transform: scale(1.3);
        transition: .3s;
      }
    }
  }
  
  .footerText {
    display: flex;
    justify-content: center;
    color: #F8EFD4;
  }
  
  .social {
    display: flex;
    justify-content: center;
  }

