.proyecto {
    margin: 0px 10px 10px 10px;
    padding-top: 50px;
    padding-bottom: 100px;
  
    p {
      height: 200px;
      width: 250px;
    }
  }
  
  p {
    @include colorParrafo
  }
  
  h1 {
    @include colorTitulo
  }
  
  .text-center {
    margin-top: 30px;
  }
  
  .fotomia {
    width: 500px;
    height: 601px;
    padding-top: 50px;
  }
  @media (max-width: 350px){
    .fotomia{
      width: 500px;
    height: 280px;
    padding-bottom: 200px;
    margin-bottom: 100px;
    padding-top: 50px;
    }
  }
  .sobremip {
    margin-top: 30px;
  }